<!DOCTYPE html>
<html>
<head>
  <title>BookingbugYellowfin</title>
  <%= stylesheet_link_tag    "bookingbug_yellowfin/application", :media => "all" %>
  <%= javascript_include_tag "bookingbug_yellowfin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
